*.class
*.zip
data/
*.csv
*.bluej
*.pures
package.bluej
.bluej/
.idea/
.vscode/
.settings/
.classpath
.project
EN_submission/
MN_submission/
graderoutput/
A1/
A2/
A3/
A4/
A5/
StepOne/
StepThree/
lib/
